body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    background-color: #333;
}

.display {
    background-color: #222;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display input {
    width: 100%;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.buttons button:hover {
    background-color: #777;
}

.buttons .equal {
    grid-row: span 2;
    background-color: #f39c12;
}

.buttons .equal:hover {
    background-color: #e68a00;
}

.buttons .zero {
    grid-column: span 2;
}

@media (max-width: 480px) {
    .calculator {
        width: 100%;
        border-radius: 0;
    }

    .buttons button {
        font-size: 1.2em;
    }
}